/*!
 * Own personal css to overwrite bootstrap config.
 */

.download-section p {
  background-color: #7C8D9F;
  /*font-weight: bold;*/
  border-radius: 25px;
  padding: 5px;
}

.btn-default {
    border: 1px solid #7C8D9F;
    color: #7C8D9F;
    background-color: transparent;
}

.btn-default:hover {
    border: 1px solid #7C8D9F;
    outline: 0;
    color: #000;
    background-color: #7C8D9F;
}

a {
    color: #7C8D9F;
}

a:focus, a:hover {
    text-decoration: none;
    color: #7C8D9F;
}